h1 {
	color: #555;
	font-size:22px;
	font-family: sans-serif;
	text-align: center;
}

.topbar {
	background-color: #202020;
}

h2 {
	color: #4CAF50;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
}

h3{
	color: #f2ea0c;
	font-size: 16px;
	text-transform: uppercase;
	font-family: sans-serif;
}

body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  margin-top:
}

.icon-bar a { 
  float: left;
  width: 50%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 22px;
  text-decoration: none;
  font-family: sans-serif;
}

.no-italics {
	font-style: normal;
}

.icon-bar a:hover {
  background-color: #000;
}

.activebar {
  background-color: #4CAF50;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

p {
	color: #555;
	font-size:18px;
	font-family: sans-serif;
}